@model IEnumerable<DreamMusic.Models.Devolucion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @* Change the link *@
    <a id="SelectDiscosParaDevolucion" asp-action="SelectDiscosParaDevolucion" asp-controller="Discos" id="SelectDiscosParaDevolucion">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDevolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDevolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DevolucionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DevolucionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DevolucionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
