@model DreamMusic.Models.CompraViewModels.CompraCreateViewModel

@{
    ViewData["Title"] = "Create";
}




<h2>Create</h2>


<form asp-action="Create" method="post">

    <div class="form-horizontal">
        <h4>Purchase</h4>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-2 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </div>
            <div class="row">
                <div class="col-2 font-weight-bold">
                    @Html.DisplayNameFor(model => model.FirstSurname)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.FirstSurname)
                </div>
            </div>
            <div class="row">
                <div class="col-2 font-weight-bold">
                    @Html.DisplayNameFor(model => model.SecondSurname)
                </div>
                <div class="col-8">
                    @Html.DisplayFor(model => model.SecondSurname)
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="DeliveryAddress" class="col-md-2 control-label font-weight-bold"></label>
                <span class="col-md-8">
                    <input asp-for="DeliveryAddress" class="form-control" height="20" />
                    <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
                </span>
            </div>
        </div>

        <input asp-for="CustomerId" type="hidden" class="form-control" />


        <div id="ModelErrors" asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <span class="col-md-10">
            <span asp-validation-for="CompraItems" class="text-danger"></span>
        </span>

        <table class="table">

            <thead>
                <tr>
                    <th width="50%">
                        Title
                    </th>
                    <th width="20%">
                        Price
                    </th>
                    <th>
                        Quantity
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CompraItems.Count() == 0)
                {
                    <tr><td colspan="3">There are no movies available</td></tr>
                }
                else
                {
                    @for (int i = 0; i < Model.CompraItems.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => Model.CompraItems[i].Title)
                            </td>
                            <td>
                                <div class="form-group">
                                    @Html.DisplayFor(modelItem => Model.CompraItems[i].PriceForCompra)

                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input asp-for="CompraItems[i].DiscoID" type="hidden" class="form-control" />
                                    <input asp-for="CompraItems[i].PriceForCompra" type="hidden" class="form-control" />
                                    <input asp-for="CompraItems[i].Title" type="hidden" class="form-control" />
                                    <input asp-for="CompraItems[i].Genre" type="hidden" class="form-control" />
                                    <input asp-for="CompraItems[i].Quantity" id="Movie_Quantity_@Model.CompraItems[i].DiscoID" class="form-control" />
                                    <span asp-validation-for="CompraItems[i].Quantity" class="text-danger" />

                                </div>

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        @* this code needs the script defined in site.js *@
        <div class="panel-group" id="accordion">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <label for='r11' style='width: 350px;'>
                            @* <input type='radio' id='r11' name='PaymentMethod' value='CreditCard' required checked /> Credit Card*@
                            <input type='radio' id='r11' asp-for='PaymentMethod' value='CreditCard' required /> Credit Card
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></a>
                        </label>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse ">
                    <div class="panel-body row">
                        <div class="col-md-4">
                            <label asp-for="CreditCardNumber" class="control-label"></label>
                            <input asp-for="CreditCardNumber" class="form-control" size="20" />
                            <span asp-validation-for="CreditCardNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-1">
                            <label asp-for="CCV" class="control-label"></label>
                            <input asp-for="CCV" class="form-control" size="3" />
                            <span asp-validation-for="CCV" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="ExpirationDate" class="control-label"></label>
                            <input asp-for="ExpirationDate" class="form-control" />
                            <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class=panel-title>
                        <label for='r12' style='width: 350px;'>
                            @*<input type='radio' id='r12' name='PaymentMethod' value='PayPal' required /> PayPal*@
                            <input type='radio' id='r12' asp-for='PaymentMethod' value='PayPal' required /> PayPal
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"></a>
                        </label>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body row">
                        <div class="col-md-4">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-1">
                            <label asp-for="Prefix" class="control-label"></label>
                            <input asp-for="Prefix" class="form-control" />
                            <span asp-validation-for="Prefix" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="Phone" class="control-label"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" id="CreateButton" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}